/*  File Descripton : - app.css Custom CSS File
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
*/

/* your custom css goes here */
h1{
  background-color:rgb(69, 143, 94);
  padding: 20px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

h2 {
  
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(69, 143, 94);
  
  padding-top: 20px;
  padding-right: 20px;;
  padding-bottom: 20px;
  padding-left: 20px;
 
  
  
}
h3 {
  background-color:rgb(69, 143, 94);
  padding: 50px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

p {
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
a{
    font-size: 20px;
    padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
 font-family: Arial, Helvetica, sans-serif;
}
