<body style="background-color:#ABEBC6">
    <div class="container-fluid bg-3 text-center">
        <h1> Create Your Survey in minutes... </h1>
        <form method="post">
            <div class="row ">
                <div class="col-sm-2">
                    <label for="surveytitle" class="form-label">Survey Name</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="surveytitle" aria-describedby="surveytitle"
                        name="surveytitle">
                </div>
                <div class="col-sm-2">
                    <label for="validity" class="form-label">Survey Validity Date</label>
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="validity" aria-describedby="validity" name="validity">
                </div>
            </div>
           
            <h3> Enter your questions and choices </h3>
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your first question" id="q1"
                            aria-describedby="q1" aria-label="q1" name="q1" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Agree" id="q1_resp1"
                            aria-describedby="q1_resp1" aria-label="q1_resp1" name="q1_resp1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Agree" id="q1_resp2" aria-describedby="q1_resp2"
                            aria-label="q1_resp2" name="q1_resp2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Neutral" id="q1_resp3"
                            aria-describedby="q1_resp3" aria-label="q1_resp3" name="q1_resp3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Disagree" id="q1_resp4"
                            aria-describedby="q1_resp4" aria-label="q1_resp4" name="q1_resp4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Disagree" id="q1_resp5"
                            aria-describedby="q1_resp5" aria-label="q1_resp5" name="q1_resp5" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your second question" id="q2"
                            aria-describedby="q2" aria-label="q2" name="q2" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Agree" id="q2_resp1"
                            aria-describedby="q2_resp1" aria-label="q2_resp1" name="q2_resp1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Agree" id="q2_resp2" aria-describedby="q2_resp2"
                            aria-label="q2_resp2" name="q2_resp2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Neutral" id="q2_resp3"
                            aria-describedby="q2_resp3" aria-label="q2_resp3" name="q2_resp3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Disagree" id="q2_resp4"
                            aria-describedby="q2_resp4" aria-label="q2_resp4" name="q2_resp4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Disagree" id="q2_resp5"
                            aria-describedby="q2_resp5" aria-label="q2_resp5" name="q2_resp5" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your third question" id="q3"
                            aria-describedby="q3" aria-label="q3" name="q3" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Agree" id="q3_resp1"
                            aria-describedby="q3_resp1" aria-label="q3_resp1" name="q3_resp1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Agree" id="q3_resp2" aria-describedby="q3_resp2"
                            aria-label="q3_resp2" name="q3_resp2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Neutral" id="q3_resp3"
                            aria-describedby="q3_resp3" aria-label="q3_resp3" name="q3_resp3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Disagree" id="q3_resp4"
                            aria-describedby="q3_resp4" aria-label="q3_resp4" name="q3_resp4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Disagree" id="q3_resp5"
                            aria-describedby="q3_resp5" aria-label="q3_resp5" name="q3_resp5" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fourth question" id="q4"
                            aria-describedby="q4" aria-label="q4" name="q4" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Agree" id="q4_resp1"
                            aria-describedby="q4_resp1" aria-label="q4_resp1" name="q4_resp1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Agree" id="q4_resp2" aria-describedby="q4_resp2"
                            aria-label="q4_resp2" name="q4_resp2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Neutral" id="q4_resp3"
                            aria-describedby="q4_resp3" aria-label="q4_resp3" name="q4_resp3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Disagree" id="q4_resp4"
                            aria-describedby="q4_resp4" aria-label="q4_resp4" name="q4_resp4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Disagree" id="q4_resp5"
                            aria-describedby="q4_resp5" aria-label="q4_resp5" name="q4_resp5" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fifth question" id="q5"
                            aria-describedby="q5" aria-label="q5" name="q5" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Agree" id="q5_resp1"
                            aria-describedby="q5_resp1" aria-label="q5_resp1" name="q5_resp1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Agree" id="q5_resp2" aria-describedby="q5_resp2"
                            aria-label="q5_resp2" name="q5_resp2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Neutral" id="q5_resp3"
                            aria-describedby="q5_resp3" aria-label="q5_resp3" name="q5_resp3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Strongly Disagree" id="q5_resp4"
                            aria-describedby="q5_resp4" aria-label="q5_resp4" name="q5_resp4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="Disagree" id="q5_resp5"
                            aria-describedby="q5_resp5" aria-label="q5_resp5" name="q5_resp5" required>
                    </div>
                </div>
                </br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary"
                                style="background-color:#1E8449">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>