<body style="background-color:#ABEBC6"></body>
<div class="row">
  <h1>Choose Your Survey Template...!!! </h1>



  
  <div class="col-sm-3" role="button">
    <div class="card">
      <div class="card-body">
        <a style="text-decoration:none" href="/createSurvey"> Create your Agree/Disagree Survey</a>
      </div>
    </div>
  </div>
</div>