<!-- 
   File Descripton :-  createsurvey.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021



    <div class="container-fluid bg-3 text-center"> -->
     <div class="container">
     <div class="row">
     <div class="offset md-3 col-md-6">
        <br>
        <h1 class="headerText">Create Your Survey in minutes... </h1>
        <hr>
        <form class="form" method="post">
            
                <div class="col-sm-2">
                    <label for="surveytitle" class="form-label">Survey Name</label>
               
                    <input type="text" class="form-control" id="surveytitle" aria-describedby="surveytitle"
                        name="surveytitle">
                </div>
                <div class="col-sm-2">
                    <label for="validity" class="form-label">Survey Validity Date</label>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="validity" aria-describedby="validity" name="validity">
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2">
                    <label for="description" class="form-label">Description </label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="description" aria-describedby="description"
                        name="description">
                </div>
            </div>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your first question" id="q1"
                            aria-describedby="q1" aria-label="q1" name="q1" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your second question" id="q2"
                            aria-describedby="q2" aria-label="q2" name="q2" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your third question" id="q3"
                            aria-describedby="q3" aria-label="q3" name="q3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fourth question" id="q4"
                            aria-describedby="q4" aria-label="q4" name="q4" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Enter your fifth question" id="q5"
                            aria-describedby="q5" aria-label="q5" name="q5" required>
                    </div>
                </div>
            </div>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" style="background-color:#1E8449">Build
                            Survey</button>
                    </div>
                </div>
            </div>
        </form>
    </div>