<!-- <body style="background-color:#ABEBC6"></body>
<div class="row">
    <br>
    <br>
    <br>
    <br>
  <h1>Choose Your Survey Template...!!! </h1>
 
  <div class="col-sm-3" role="button">
    <div class="card">
      <div class="card-body" style="background-color:#1E8449">
        <a style="text-decoration:none ; color: white" href="/createsurveys"> Create your
          Agree/Disagree Survey</a>
      </div>
    </div>
  </div>
</div> -->


<body style="background-color:#ABEBC6">

  <div class="container-fluid bg-3 text-center">
    <h3><em>
      Choose Your Survey Template...!!!
    </em></h3><br>
    <div class="row">
      <div class="col-sm-12">
        <p>Create your survey in minutes!!</p>
        <a class="nav-link" href="/createsurveys"> <i class="fas fa-plus-square"></i>Create your Agree/Disagree
          Survey</a>
      </div>
    </div>
  </div>
</body>