<body style="background-color:#ABEBC6">
    <div class="container-fluid bg-3 text-center">
        <h3>
            Welcome to Survey.
        </h3><br>
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Create your survey in minutes!!</p>
                <a class="nav-link" href="/createSurveyTemplate"><i class="fas fa-plus-square"></i><strong>Create Surveys</strong></a>
            </div>
            <div class="col-sm-6">
                <p>Complete your survey in seconds!!</p>
                <a class="nav-link" href="/survey-list"><i class="fas fa-clipboard-list"></i><strong>Available Surveys</strong></a>
            </div>
        </div>
    </div>
</body>
