

<body style="background-color:#ABEBC6">


<h1>Create your survey in minutes!!</h1>
<br>
<h1>Complete your survey in seconds!!</h1>
<div class="col-sm-3" role="button">
    <div class="card">
      <div class="card-body">
        <a style="text-decoration:none" href="/createSurvey"> Create your Survey</a>
      </div>
    </div>
  </div>