<body style="background-color:#ABEBC6">


  <h1>Create your survey in minutes!!</h1>
  <br>
  <h1>Complete your survey in seconds!!</h1>

    <form method="get" action="/createSurveyTemplate">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <button type="submit" class="btn btn-primary" style="background-color:#000000">Create your Survey</button>
                    </div>
                </div>
            </div>
        </form>

  