<!-- 
   File Description :- messages.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 04th August 2021
-->
<head>
  <meta http-equiv="refresh" content="5; URL=https://www.bitdegree.org/" />
</head>
<body>
<body style="background-color: #abebc6">
  <p>If you are not redirected in five seconds, <a href="https://www.bitdegree.org/">click here</a>.</p>
</body>
<body style="background-color: #abebc6">
   <div class="row">
    <h1 class="headerText">Thank you for contacting us!</h1>
  </div>
          <meta http-equiv="refresh" content="15; URL= http://localhost:3500/home/" />
      </div>
    </div>
    </div>
    <div>