<!-- 
   File Descripton :-  signup.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
-->

<body style="background-color:#ABEBC6">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
      <div class="login" id="contentArea">
        <h3 class="display-4"><em><strong>Sign Up<em><strong></h3>
        <% if(messages.length> 0) { %>
          <div id="messageArea" class="alert alert-danger">
            <%= messages %>
          </div>
          <% } %>
            <form method="POST" id="registerForm" novalidate>

              <div class="form-group">
                <div class="row">
                  <p class="lead"><i class="fas fa-user-shield"></i> Personal Information</p>
                  <div class="col-md-6">
                    <input class="form-control" type="text" name="FirstName" id="firstName" placeholder="First Name"
                      required>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="text" name="LastName" id="lastName" placeholder="Last Name"
                      required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="email" class="form-control" id="emailAddress" name="EmailAddress" required value=""
                      placeholder="Email Address">
                  </div>
                </div>
              </div>

              <div class="form-group mt-4">
                <div class="row">
                  <p class="lead"><i class="fas fa-database"></i>System Identification</p>
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="username" name="username" required value=""
                      placeholder="Username">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control" id="password" name="password" required value=""
                      placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required
                      value="" placeholder="Confirm Password">
                  </div>
                </div>
              </div>


              <div class="text-end mt-2">
                <button id="submitButton" type="submit" class="btn btn-primary"
                  style="background-color:#1E8449">Register</button>
                <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i>
                  Cancel</button>
              </div>
            </form>

      </div>
      <p class="text-center text-muted small">
        Already have an account?
        <a href="/login" style="color: #1e8449">Sign in</a>
      </p>
    </div>
  </div>