<!-- 
   File Descripton :-  createSurveyTemplatesurvey.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
-->

<body style="background-color:#ABEBC6">

  <div class="container-fluid bg-3 text-center">
    <h3>
      Choose Your Survey Template...!!!
    </h3><br>
    <div class="row">
      <div class="col-sm-12">
        <p>Create your survey in minutes!!</p>
        <a class="nav-link" href="/createsurveys"> <i class="fas fa-plus-square"></i>Create your Agree/Disagree
          Survey</a>
      </div>
    </div>
  </div>
</body>
