<body style="background-color:#ABEBC6">
    <div class="container-fluid bg-3 text-center">
        <h1> Create Your Survey in minutes... </h1>
        <form>
            <div class="container-fluid bg-3 text-center">
                <div class="row">
                    <div class="col-sm-1">
                        <label for="inputName1" class="form-label">Survey Id</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputName1" aria-describedby="inputName1">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputName1" class="form-label">Survey Name</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputName2" aria-describedby="inputName2">
                    </div>
                </div>
            </div>
            </br>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter your first question" id="question1"
                            aria-describedby="question1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter your second question" id="question2"
                            aria-describedby="question2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter your third question" id="question3"
                            aria-describedby="question3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter your fourth question" id="question4"
                            aria-describedby="question4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter your fifth question" id="question5"
                            aria-describedby="question5">
                    </div>
                </div>
            </div>
        </form>
        </br>
        <form method="get" action="/home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary" style="background-color:#000000">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>