<body style="background-color:rgb(117, 197, 151)">

  <br>
  <br>
  <br>
  <br>
  <h1>Create your survey in minutes!!</h1>
  <br>
  <br>
  <h2>Complete your survey in seconds!!</h2>
     <br>
     <br>
    <form method="get" action="/createSurveyTemplate">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-primary" style="background-color:#1E8449">Create your Survey</button>
                    </div>
                </div>
            </div>
        </form>

  


