<!-- 
   File Descripton :-  login.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
-->
<body style="background-color:#ABEBC6">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
      <div class="login" id="contentArea">
        <h3 class="display-4"><em><strong>Login</strong></em></h3>

        <form id="loginForm" novalidate method="POST">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user">
                </i>
              </span>
              <input type="text" class="form-control" id="username" name="username" required value=""
                placeholder="Enter username">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock">
                </i>
              </span>
              <input type="password" class="form-control" id="password" name="password" required value=""
                placeholder="Enter your password">
            </div>

          </div>
          <div class="text-end mt-2">
            <button id="loginButton" type="submit" class="btn btn-primary" style="background-color:#1E8449"><i
                class="fas fa-sign-in-alt"></i>
              Login</button>
            <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</button>
          </div>
        </form>
      </div>