<!-- 
   File Descripton :-  signup.ejs File 
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
-->

<h1><%=resSet[0].title%></h1>
<%if(resSet[0].res[0]!=null){%>
<%
let responseCount=0;
for(let i=0;i<resSet[0].res.length;i++){
    responseCount=responseCount+resSet[0].res[i].total;
}
%>
<h6>These statistics are based on <%=responseCount%> results</h6>
<button class="btn btn-primary btn-small" onclick="print()">Print</button>

<!--divs for charts-->
<%for(let i=0;i<resSet.length;i++){%>
<div id="resChart<%=i%>"></div>
<%}%>
<%}else{%>
<h4>No results to show</h4>
<%}%>

<!--Scripts to display charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>const chartData=<%-JSON.stringify(resSet)%>;</script>
<script src="/Scripts/charts.js"></script>
