<!-- 
   File Descripton :-  footer.ejs File
    Website Name :- Survey Ninjas
      Team Name :- CodingNinjas

        Anureet Kaur - 301174444
        Mridula Ramakrishnan - 301145813
        Muhammad Hassan - 301178235
        Nilam Keshwala - 301042029
        Raghuveer Manam - 300715775
        Roshna Raju - 301174285

        Date: 16th July 2021
-->

<nav class="navbar fixed-bottom navbar-light" style="background-color: #879b97;">
    <div class="container-fluid">
      <h6><strong>&copy; CodingNinjas</strong></h6>
    </div>
  </nav>